<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tote</title>

    <link rel="manifest" href="manifest.json">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css" rel="stylesheet"
        type="text/css" />

    <link rel="stylesheet" href="/style.css?v=1.0.7">

    <script src="/init-sw.js"></script>
</head>

<body>

    <div id="app" class="container">
        <div class="task" v-for="todo in todos" :key="todo.id">
            <input class="tick" type="checkbox" @change="complete(todo.id)" :checked="todo.completed">
            <span class="content"
                :class="[todo.completed ? 'bold linethrough' : '', (todo.id === currentId) ? 'underline' : '']"
                @click="select(todo.id); return false;"
                dir="auto">
                {{ todo.text }}
            </span>
            <button class="btn btn-delete" @click="deleteTodo(todo.id)">✗</button>
        </div>

        <div class="image">
            <img src="/writing-hand.gif" alt="writing-hand">
        </div>

        <div class="form">
            <input class="title-input" type="text" v-model="newTodo" @keyup.enter="saveTodo" dir="auto">
            <button class="btn btn-save" @click="saveTodo">Save</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="/script.js"></script>
</body>

</html>