<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple TODO</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <div id="app" class="container">
        <div class="task" v-for="todo in todos" :key="todo.id">
            <input class="tick" type="checkbox" @change="complete(todo.id)" :checked="todo.completed">
            <span class="content"
                :class="[todo.completed ? 'bold linethrough' : '', (todo.id === currentId) ? 'underline' : '']"
                @click="select(todo.id); return false;">
                {{ todo.text }}
            </span>
            <button class="btn-delete" @click="deleteTodo(todo.id)">✗</button>
        </div>

        <br>

        <input type="text" v-model="newTodo" @keyup.enter="saveTodo">
        <button @click="saveTodo">Save</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>

        const database = document.location.pathname.split('/').pop()
        document.title = `Todo: ${database}`

        var app = new Vue({
            el: '#app',
            data() {
                return {
                    newTodo: '',
                    todos: this.getFromLocalStorage() ?? [],
                    currentId: -1
                }
            },

            watch: {
                todos() {
                    this.saveToLocalStorage()
                }
            },

            methods: {
                select(id) {
                    if (this.currentId === id) {
                        this.currentId = -1
                    } else {
                        this.currentId = id
                    }
                },

                saveTodo() {
                    this.todos.push(this.createTodo())
                    this.newTodo = ''
                },

                createTodo() {
                    return {
                        id: new Date().getTime(),
                        text: this.newTodo,
                        completed: false
                    }
                },

                complete(id) {
                    const todo = this.todos.find((todo) => todo.id === id)
                    todo.completed = !todo.completed
                    this.saveToLocalStorage()
                },

                deleteTodo(id) {
                    const index = this.todos.findIndex((todo) => todo.id === id)
                    this.todos.splice(index, 1)
                },

                saveToLocalStorage() {
                    localStorage.setItem(database, JSON.stringify(this.todos))
                },

                getFromLocalStorage() {
                    return JSON.parse(localStorage.getItem(database))
                }
            }
        })

    </script>
</body>

</html>