* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

:root {
    --c-green-light: #e6ffe6;
    --c-green: #e0f7e0;
    --c-green-dark: #b2d8b2;
    --c-green-darker: #677767;
}

body {
    background-color: var(--c-green-light);
    font-family: 'Montserrat', Vazir;
}

.container {
    margin: 0 auto;
    min-width: 200px;
    padding: 10px;
    width: 100%;
}

@media (min-width: 640px) {
    .container {
        width: 500px;
    }
}

.btn {
    cursor: pointer;
    font-family: 'Montserrat', Vazir;
    font-weight: 500;
}

.task {
    background-color: var(--c-green);
    border-radius: 20px;
    box-shadow: 0px 1px 1px 0px var(--c-green-dark);
    display: flex;
    padding: 15px;
    margin-bottom: 5px;
}

.task .content {
    flex-grow: 1;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding: 0 10px;
    unicode-bidi: embed;
    margin: -5px 0;
}

.task .btn-delete {
    border: 0;
    background-color: unset;
    font-size: 16px;
    padding: 0;
    color: var(--c-green-dark);
}

.form {
    padding: 10px;
    display: flex;
}

.form .title-input {
    border: 1px solid lightgrey;
    border-radius: 50px;
    flex-grow: 1;
    font-family: 'Montserrat', Vazir;
    margin-right: 10px;
    padding: 10px;
}

.form .title-input:focus {
    outline: 0;
}

.form .btn-save {
    background-color: var(--c-green);
    border: 0;
    border-radius: 50px;
    box-shadow: 0px 1px 1px 0px var(--c-green-dark);
    padding: 10px;
    color: var(--c-green-darker);
}

.form .btn-save:hover {
    background-color: var(--c-green-dark);
}

/**
 * Utility
 */

.bold {
    font-weight: bold;
}

.linethrough {
    text-decoration-line: line-through;
}

.underline {
    text-decoration-line: underline;
}